<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout>
                <Pattern>[%d] %p %c{2} [%t] (%l) - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="RollingFile" fileName="target/logs/gmail-test.log" filePattern="target/logs/gmail-test-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>[%d] %p %c{2} [%t] (%l) - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>